@font-face {
  font-family: "aringo";
  src: url(../../../fonts/aringgo.regular.woff2);
}
@font-face {
  font-family: "Poor";
  src: url(../../../fonts/PoorRichardOpti.woff2);
}
h1 {
  font-size: 2rem;
  color: #151515;
  margin: 1rem 0rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
  margin: 0;
  font-weight: 300;
}

h3 {
  font-size: 1.2rem;
  color: #151515;
  margin: 0.5rem;
  margin-left: 0;
  letter-spacing: 80%;
  color: aliceblue;
}

.container {
  display: flex;
  gap: 2rem;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../assets/img/BG.png");
  background-size: cover;
  background-position: center;
  position: relative;
}
.container .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.container .modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0f0f0f;
  margin: 15% auto;
  padding: 4rem;
  border: 2.5px solid #e5e5e5;
  border-radius: 10px;
  width: 80%;
  max-width: 70%;
  gap: 1rem;
}
.container .modal-content .head_modal {
  display: flex;
  gap: 2rem;
}
.container .modal-content .modal_text {
  display: flex;
  gap: 1.5rem;
}
.container .modal-content .modal_text p {
  font-family: "Poor";
}
.container .modal-content a {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: #0b0b0b;
  border: 3px solid #e5e5e5;
  border-radius: 15px;
  transition: 300ms;
  width: 40%;
}
.container .modal-content a:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #0b0b0b;
  border: 2px solid #0b0b0b;
  text-shadow: none;
}
.container .modal-content a:active {
  transform: scale(98%);
}
.container .close {
  color: #e3e3e3;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  transition: 300ms;
  border-radius: 1000px;
  cursor: pointer;
}
.container .close:hover,
.container .close:focus {
  color: black;
  text-decoration: none;
  background-color: #e5e5e5;
  border: 2px solid #0b0b0b;
}
.container #intro-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: block;
}
.container .start {
  position: absolute;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  top: 70%;
  left: 35%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.63), 0px 2px 4px #000;
}
.container .start h2 {
  font-size: 2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.container .start .wrapper {
  font-size: 1.6rem;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
.container .start .wrapper span {
  padding: 1rem;
  background-color: #0b0b0b;
  border: 3px solid #e5e5e5;
  border-radius: 15px;
  transition: 300ms;
  color: #e5e5e5;
}
.container .start .wrapper span:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #0b0b0b;
  border: 2px solid #0b0b0b;
  text-shadow: none;
}
.container .start .wrapper span:active {
  transform: scale(98%);
}
.container .start .wrapper a {
  padding: 1rem;
  background-color: #0b0b0b;
  border: 3px solid #e5e5e5;
  border-radius: 15px;
  transition: 300ms;
}
.container .start .wrapper a:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #0b0b0b;
  border: 2px solid #0b0b0b;
  text-shadow: none;
}
.container .start .wrapper a:active {
  transform: scale(98%);
}

.game_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  background-color: #2b2b2b;
  background-size: cover;
  background-position: center;
  position: relative;
}
.game_container .logo img {
  width: 100px;
}
.game_container .game {
  padding: 4rem;
  width: 80%;
}
.game_container .question {
  max-width: 90%;
  font-weight: 200;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.63), 0px 2px 4px #000;
}
.game_container .hud {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.game_container .hud .hud-prefix {
  text-align: center;
  font-size: 2rem;
  margin: 0;
}
.game_container .hud #timer {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 1002000px;
  background-color: rgba(255, 255, 255, 0.8666666667);
  color: rgba(9, 9, 9, 0.8666666667);
  border: 4px solid rgba(0, 0, 0, 0.8666666667);
}
.game_container .hud .hud-main-text {
  text-align: center;
  color: rgba(255, 255, 255, 0.8666666667);
}
.game_container .hud #progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid rgba(200, 200, 200, 0.8666666667);
  margin-top: 0.5rem;
  border-radius: 50px;
  overflow: hidden;
}
.game_container .hud #progressBar #progressBarFull {
  height: 100%;
  background: rgba(26, 26, 26, 0.8666666667);
  width: 0%;
}
.game_container .choices {
  margin-top: 1rem;
}
.game_container .choices .choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  min-width: 30rem;
  border-radius: 10px;
  border: 2.5px solid #dddddd;
  background: rgb(14, 14, 14);
  gap: 0.5rem;
  transition: 300ms;
  align-items: center;
}
.game_container .choices .choice-container:hover {
  cursor: pointer;
  transform: scale(103%);
}
.game_container .choices .choice-container .choice-prefix {
  padding: 2rem;
}
.game_container .choices .choice-container .choice-text {
  padding: 3rem;
  width: 100%;
  margin: 0;
  font-size: 1.15rem;
  font-weight: 300;
}

.correct {
  background: green;
}

.incorrect {
  background: red;
}

.highscore_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background-color: #2b2b2b;
  background-size: cover;
  background-position: center;
  position: relative;
}
.highscore_container .pops_chulo img {
  width: 700px;
}
.highscore_container #finalScore {
  color: #e3e3e3;
  font-weight: 300;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.63), 0px 2px 4px #000;
}
.highscore_container #showMoreButton,
.highscore_container #showLessButton {
  font-size: 1.15rem;
  background-color: #e3e3e3;
  border: 2px solid #0a0a0a;
  border-radius: 20px;
  padding: 1rem;
  transition: 300ms;
}
.highscore_container #showMoreButton:hover,
.highscore_container #showLessButton:hover {
  cursor: pointer;
  transform: scale(102%);
  background-color: #0a0a0a;
  color: #e3e3e3;
  border: 2px solid #e3e3e3;
}
.highscore_container #showMoreButton:active,
.highscore_container #showLessButton:active {
  transform: scale(98%);
}
.highscore_container .btn {
  font-size: 1.15rem;
  background-color: #0a0a0a;
  border: 2px solid #e3e3e3;
  border-radius: 20px;
  padding: 1rem;
  transition: 300ms;
  text-decoration: none;
}
.highscore_container .btn:hover {
  cursor: pointer;
  transform: scale(102%);
  background-color: #0a0a0a;
  color: #e3e3e3;
  border: 2px solid #e3e3e3;
}
.highscore_container .btn:active {
  transform: scale(98%);
}
.highscore_container .buttons_score {
  display: flex;
  width: 100%;
  gap: 2rem;
}
.highscore_container #highScoreList {
  list-style: none;
  margin-bottom: 2rem;
  border-radius: 10px;
  color: #e3e3e3;
  border: 3px solid #dddddd;
  background: rgb(14, 14, 14);
  padding: 2rem;
}
.highscore_container .high-score {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.end-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  background-color: #2b2b2b;
  background-size: cover;
  background-position: center;
  position: relative;
}
.end-container .end {
  border: 3px solid #e3e3e3;
  padding: 3rem;
  border-radius: 15px;
  background-color: #1e1e1e;
}
.end-container .end .title_score {
  color: #e5e5e5;
  font-weight: 400;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.63), 0px 2px 4px #000;
}
.end-container .end .end-form-container {
  padding: 2rem 0rem;
}
.end-container .end .end-form-container h2 {
  max-width: 80%;
  margin-bottom: 1rem;
}
.end-container .end .end-form-container input {
  padding: 1rem;
  background-color: #e5e5e5;
  border: 3px solid #0b0b0b;
  border-radius: 15px;
  transition: 300ms;
  font-size: 1.15rem;
}
.end-container .end .end-form-container input:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #0b0b0b;
  border: 2px solid #0b0b0b;
  text-shadow: none;
}
.end-container .end .end-form-container input:active {
  transform: scale(98%);
}
.end-container .end .end-form-container button {
  padding: 1rem;
  background-color: #0b0b0b;
  border: 3px solid #e5e5e5;
  color: #e3e3e3;
  border-radius: 15px;
  transition: 300ms;
  font-size: 1.15rem;
}
.end-container .end .end-form-container button:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #0b0b0b;
  border: 2px solid #0b0b0b;
  text-shadow: none;
}
.end-container .end .end-form-container button:active {
  transform: scale(98%);
}
.end-container .end .btn_end {
  display: flex;
  gap: 2rem;
}
.end-container .end .btn_end .btn {
  padding: 1rem;
  background-color: #0b0b0b;
  border: 3px solid #e5e5e5;
  border-radius: 15px;
  transition: 300ms;
  font-size: 1.15rem;
}
.end-container .end .btn_end .btn:hover {
  cursor: pointer;
  background-color: #e3e3e3;
  color: #0b0b0b;
  border: 2px solid #0b0b0b;
  text-shadow: none;
}
.end-container .end .btn_end .btn:active {
  transform: scale(98%);
}

* {
  font-family: "aringo";
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  margin: 0;
  overflow: hidden;
}
body a {
  color: aliceblue;
}
body .texture-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/noise.png");
  mix-blend-mode: screen;
  pointer-events: none;
  z-index: 9999;
}
body .film-grain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: screen;
  z-index: 10000;
  /* Ensure it's on top of texture overlay */
}
body .film-grain-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Ensure the GIF covers the entire overlay */
}
@media (max-width: 768px) {
  body .texture-overlay {
    background-size: contain;
  }
}
body .transition {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #fff;
  transform: scale(0);
}/*# sourceMappingURL=style.css.map */