.end-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    background-image: url('../img/end_menu.jpg');
    background-size: cover;
    background-position: center;
    position: relative;

    .end {
        border: 3px solid #e3e3e3;
        padding: 3rem;
        border-radius: 15px;
        background-color: #151515;
        opacity: 0.95;

        .title_score {
            color: #e5e5e5;
            font-weight: 400;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.63), 0px 2px 4px #000;
        }

        .end-form-container {
            padding: 2rem 0rem;

            h2 {
                max-width: 80%;
                margin-bottom: 1rem;
            }

            input {
                padding: 1rem;
                background-color: #e5e5e5;
                border: 3px solid #0b0b0b;
                border-radius: 15px;
                transition: 300ms;
                font-size: 1.15rem;

                &:hover {
                    cursor: pointer;
                    background-color: #e3e3e3;
                    color: #0b0b0b;
                    border: 2px solid #0b0b0b;
                    text-shadow: none;
                }

                &:active {
                    transform: scale(98%);
                }
            }

            button {
                padding: 1rem;
                background-color: #0b0b0b;
                border: 3px solid #e5e5e5;
                color: #e3e3e3;
                border-radius: 15px;
                transition: 300ms;
                font-size: 1.15rem;

                &:hover {
                    cursor: pointer;
                    background-color: #e3e3e3;
                    color: #0b0b0b;
                    border: 2px solid #0b0b0b;
                    text-shadow: none;
                }

                &:active {
                    transform: scale(98%);
                }
            }
        }

        .btn_end {
            display: flex;
            gap: 2rem;

            .btn {
                padding: 1rem;
                background-color: #0b0b0b;
                border: 3px solid #e5e5e5;
                border-radius: 15px;
                transition: 300ms;
                font-size: 1.15rem;

                &:hover {
                    cursor: pointer;
                    background-color: #e3e3e3;
                    color: #0b0b0b;
                    border: 2px solid #0b0b0b;
                    text-shadow: none;
                }

                &:active {
                    transform: scale(98%);
                }
            }
        }
    }

    @media (max-width: 600px) {
        .end {
            margin: 1.5rem;
        }
        .end-form-container {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            h2 {
                font-size: 1rem;
            }
        }
    }
}