@font-face {
    font-family: "aringo";
    src: url(../../../fonts/aringgo.regular.woff2);
}

@font-face {
    font-family: "Poor";
    src: url(../../../fonts/PoorRichardOpti.woff2);
}


h1{
    font-size: 2rem;
    color: $primary;
    margin: 1rem 0rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p{
    color:whitesmoke;
}

h2{
    color:whitesmoke;
    margin: 0;
    font-weight: 300;
}

h3{
    font-size: 1.2rem;
    color: $primary;
    margin:0.5rem;
    margin-left: 0;
    letter-spacing: 80%;
    color:aliceblue;
}
