.Gallery {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;

    img{
        width: 100%;
        object-fit: cover;
        #caja {
            transition: transform 0.8s ease-in-out;
            height: 100%;
            width: auto;
            display: block;
            margin: auto;
            border-radius: 10px;
        }
    }

    .controles {
        position: absolute;
        top: 85%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 990px) {
            top: 75%;
        }
        @media (max-width: 660px) {
            top: 70%;
        }
        @media (max-width: 400px) {
            top: 65%;
        }
        button{
            display: flex;
            align-items: center;
            padding: 0.7rem;
            background-color: rgba(235, 235, 235, 0.1);
            backdrop-filter: blur(5px);
            border: none;
            margin: 1rem;
            transition: 400ms;
            border-radius: 3px;
            &:hover{
                cursor: pointer;
                background-color: rgba(235, 235, 235, 0.8);
                transition: 200ms;
            }
            &:active{
                transform: scale(90%);
                transition: 200ms;
            }
        }

        .mini {
            width: 100px;
            margin: 5px;
            transition: 200ms;
            @media (max-width: 990px) {
                width: 80px;
            }
            @media (max-width: 600px) {
                width: 56px;
            }
            @media (max-width: 400px) {
                display: none;
            }
            &:hover{
                cursor: pointer;
                transition: 200ms;
            }
            &:active {
                border: '2px solid $primary';
            }
        }
        .caja_mini {
            display: flex;
            justify-content: center;
            margin: 20px;
        }

    }
}