.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    position: sticky;
    top: 0;
    z-index: 110;
    background-color: rgba(235, 235, 235, 0.8);
    backdrop-filter: blur(10px);

    @media (max-width: 880) {
        padding: 1rem 2rem;
    }

    @keyframes escalar {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
            rotate: (10deg);
        }
        100% {
            transform: scale(1);
        }
    }

    #logo {
        transition: 500ms;
        &:hover {
            animation: escalar 1s 1;
        }
        @media (max-width: 550px) {
            height: 40px;
        }
    }

    ul {
        padding-inline-start: 0;
    }

    .abrir_menu,
    .cerrar_menu {
        display: none;
    }

    @media (max-width: 880px) {
        .abrir_menu,
        .cerrar_menu {
            display: block;
            border: 0;
            background-color: transparent;
            transition: 200ms;

            &:hover {
                cursor: pointer;
                transform: scale(105%);
            }
        }

        .cerrar_menu {
            font-size: 1.5rem;
        }

        .Nav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: absolute;
            max-height: 0px;
            overflow: hidden;
            opacity: 0;
            top: 100%;
            right: 40%;
            background-color: rgba(235, 235, 235, 0.9);
            backdrop-filter: blur(15px);
            border: 1px solid $primary;
            transition: max-height 600ms ease;
            padding: 1rem;
        }
        .visible {
            max-height: 400px;
            opacity: 1;
        }
        #navBar {
            flex-direction: column;
            align-items: end;
            overflow: hidden;
        }
    }

    #navBar {
        display: flex;
        gap: 4rem;
        list-style: none;
        a {
            text-decoration: none;
            color: $primary;
            padding: 1rem;
            transition: 300ms;
            &:hover {
                font-family: "Bold";
                transform: scale(105%);
            }
        }
    }

    a {
        text-decoration: none;
        color: $primary;
    }

    .right {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
            height: 40px;
            transition: 500ms;
            &:hover {
                cursor: pointer;
                transform: scale(115%);
            }
            &:active {
                transform: rotate(20deg) scale(120%);
            }
        }

        .sub_menu_wrap {
            position: absolute;
            top: 100%;
            right: 5%;
            width: 320px;
            max-height: 0px;
            overflow: hidden;
            transition: max-height 600ms ease-in-out;

            &.sub_menu_wrap_open {
                max-height: 400px;
            }

            .sub_menu {
                background-color: rgba(235, 235, 235, 0.9);
                padding: 1.25rem;
                border: 1px solid $primary;
                backdrop-filter: blur(10px);

                .user_info {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }

                hr {
                    border: 0;
                    height: 1px;
                    background: $primary;
                    margin: 1rem 0;
                }

                .sub_menu_ops {
                    li {
                        list-style: none;
                    }

                    .sub_menu_link {
                        color: $primary;
                        padding: 0.8rem;
                        transition: 300ms;

                        &:hover {
                            background-color: $primary;
                            color: $background;
                            cursor: pointer;
                            transform: scale(105%);
                        }
                    }
                }
            }
        }

        .shop_cart {
            position: relative;
            transition: 300ms;
            #cart {
                font-size: 1.5rem;
            }
            &:hover {
                transform: scale(105%);
            }
            &.animar {
                animation: escalar 0.7s ease-in-out;
            }
        }

        .cantidad {
            background-color: $primary;
            position: absolute;
            border-radius: 50%;
            display: flex;
            color: $background;
            align-items: center;
            top: -5px;
            left: 80%;
            padding: 3px 0.5rem;
            font-size: 0.8rem;
        }

        &:hover {
            cursor: pointer;
        }
    }
}

.CartTab {
    width: 400px;
    background-color: rgba(235, 235, 235, 0.9);
    backdrop-filter: blur(10px);
    border-left: 1px solid $primary;
    z-index: 1000;
    position: fixed;
    inset: 0 -400px 0 auto;
    display: grid;
    grid-template-rows: 4rem 1fr 6rem;
    padding: 0rem 2rem;
    transition: inset 600ms ease-in-out;

    &.CartTab_Open {
        inset: 0 0 0 auto;
        body {
            transform: translate(-250px);
        }
    }

    .listCart {
        margin-top: 4rem;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
        img {
            width: 100%;
        }

        .item {
            display: grid;
            grid-template-columns: 70px 110px 50px 1fr;
            gap: 0.75rem;
            align-items: center;
            text-align: center;
            transition: 200ms ease;
            padding-bottom: 0.5rem;
            border-bottom: 1px solid $primary;
            margin-bottom: 0.8rem;
            transition: 200ms;
            &:hover {
                background-color: #DEDEDE;
            }

            .quantity {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                cursor: pointer;
            }
        }

        .total {
            display: flex;
            align-items: center;
        }
    }

    h2 {
        padding: 2.9rem 1rem;
        margin: 0;
        border-bottom: 1px solid $primary;
    }

    .cartBtns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .checkOut {
            padding: 0.5rem 1rem;
            color: $background;
            background-color: $primary;
            transition: 300ms;
            border-style: none;
            &:hover {
                color: $primary;
                background-color: $background;
                transform: scale(105%);
                cursor: pointer;
                transition: 300ms;
                border: 1px solid $primary;
            }
        }

        .close {
            font-size: 28px;
            &:hover,
            &:focus {
                color: $primary;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}